{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        {% block extra_css %}{% endblock %}
        <link type="text/css" href="{% static 'css\base.css' %}" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="{% static 'renu_logo.png' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        {% if messages %}
            <ul class="messages" id="msg">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}><img class="toast-icons" src="{% static 'icons/'|add:message.tags|add:'.png' %}" />{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        {% if request.user.is_authenticated %}
        <nav>
            <div class="logo-menu">
                <a href="{%url 'dashboard' %}" class=""><img src="{% static 'renu_logo.png' %}" width="50px" id="logo" alt="RENU Logo"></a>
            <ul class="menu">
                <li  {% if section == "dashboard" %} class="menu-item selected" {% else %} class="menu-item" {% endif %}>
                    <a href="{%url 'dashboard' %}">Monitor</a>
                </li>
                {% if user.is_superuser %}
                    <li {% if section == "users" %} class="menu-item selected" {% else %} class="menu-item" {% endif %}>
                        <a href="{%url 'users' %}">Users</a>
                    </li>
                    <li {% if section == "settings" %} class="menu-item selected" {% else %} class="menu-item" {% endif %}>
                        <a href="{%url 'settings' %}">Settings</a>
                    </li>
                {% endif %}
            </ul>
            </div>
            
            <div class="profile">
                <p class = "user-details">{{ request.user.username|upper }} </p>
                <a href="{% url 'logout' %}">\ Logout</a>
            </div>
            
            <button class="menu-icon" id="hamburger">&#9776;</button>
            <ul class="mobile-menu" id="menu-links">
                <li  {% if section == "dashboard" %} class="selected" {% else %} class="" {% endif %}>
                    <a href="{%url 'dashboard' %}">Monitor</a>
                </li>
                {% if user.is_superuser %}
                    <li {% if section == "users" %} class="selected" {% else %} class="" {% endif %}>
                        <a href="{%url 'users' %}">Users</a>
                    </li>
                    <li {% if section == "settings" %} class="selected" {% else %} class="" {% endif %}>
                        <a href="{%url 'settings' %}">Settings</a>
                    </li>
                {% endif %}
                <div class="mobile-profile">
                    <p class = "user-details">{{ request.user.username|upper }} </p>
                    <a href="{% url 'logout' %}">\ Logout</a>
                </div>
              </ul>
        </nav>
        {% endif %}
        <div >
            {% block content %}
            {% endblock %}
        </div>
        <script src=" {% static 'js\script.js' %} "></script>
    </body>
</html>