{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link href="{% static 'css\base.css' %}" rel="stylesheet">
    </head>
    <body>
        {% if request.user.is_authenticated %}
        <div id="header">
            <div class="logo-menu">
                <span class = "logo">RENU</span>
            <ul class="menu">
                <li class="menu-item selected" {% if section == "dashboard" %} class="menu-item selected" {% endif %}>
                    <a href="{%url 'dashboard' %}">Monitor</a>
                </li>
                <li class="menu-item" {% if section == "dashboard" %} class="selected" {% endif %}>
                    <a href="{%url 'dashboard' %}">Users</a>
                </li>
                <li class="menu-item" {% if section == "dashboard" %} class="selected" {% endif %}>
                    <a href="{%url 'dashboard' %}">Settings</a>
                </li>
            </ul>
            </div>
            
            <p class = "user-details">{{ request.user.username }}</p>
        </div>
        {% endif %}
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
    </body>