/*Basic css*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  width: 100vw;
  overflow: hidden;
  min-height: 100vh;
  background-color: #f4f4f4;
}

p {
  line-height: 1.8;
}

a {
  color: #00334e;
  text-decoration: none;
}

a:hover {
  color: #00334e;
}

h1 {
  border-bottom: 1px solid #bbb;
  padding: 0 0 10px 0;
  margin: 10px 0 20px 0;
}

h2 {
  margin: 30px 0 20px;
}

/*css for nav*/
nav {
  background: #00334e;
  color: #fff;
  display: flex;
  right: 0;
  padding: 0 120px;
  height: 60px;
  align-items: center;
  justify-content: space-between;
}

nav ul.menu {
  list-style: none;
  padding: 0 10px;
  display: flex;
  gap: 30px;
}

nav ul li a {
  color: white;
}
nav ul li a:hover {
  color: white;
}
nav p {
  color: white;
}

.logo-menu {
  display: flex;
  align-items: center;
  gap: 50px;
  height: 60px;
}

#logo {
  width: 50px;
}

.menu-item a {
  height: 60px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-item a:hover {
  background-color: #074e6f8d;
}

.selected {
  background-color: #074e6f;
}

/* css for content*/
#content {
  padding: 0 120px;
}

/*forms*/
form {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form p {
  width: 350px;
  padding: 0 10px;
}

label {
  display: block;
  clear: both;
  color: #333;
  margin-bottom: 4px;
}

#myForm {
  padding: 0;
  align-items: start;
}

input,
textarea {
  background: transparent;
  border: 1px solid black;
  padding: 6px 10px;
  width: 348px;
  height: 40px;
  border-radius: 5px;
}

.input-fields {
  margin-bottom: 16px;
}

select {
  background: transparent;
  border: 1px solid black;
  padding: 6px 10px;
  width: 320px;
  height: 40px;
  border-radius: 5px;
}

#selected_site {
  font-weight: bold;
}

.errorlist {
  color: #cc0033;
  float: left;
  clear: both;
  padding-left: 10px;
}
.helptext {
  margin: 0 0 20px 0;
  color: #aaa;
  clear: both;
  float: left;
  font-size: 13px;
}

/*Messages*/
ul.messages {
  margin: 10px 100px;
  padding: 0;
  list-style-type: none;
}
ul.messages li.success,
ul.messages li.warning,
ul.messages li.error,
ul.messages li.info {
  margin: 0;
  padding: 14px 20px;
  list-style: none;
  color: #fff;
}

ul.messages li.success {
  background: #81ce81;
}
ul.messages li.success a {
  color: #0ac33e;
}

ul.messages li.error {
  background: #a30029;
  color: #e9828e;
}
ul.messages li.error {
  color: #e9828e;
}

ul.messages li.info {
  background: #faffae;
  color: #696b4e;
}
ul.messages li.info a {
  color: #e9828e;
}

ul.messages li.warning {
  background: #de9404;
}
ul.messages li.warning a {
  color: #f49000;
}

ul.messages li a.choice {
  margin: 0;
  float: right;
  opacity: 1;
  border: 0;
  box-shadow: none;
  text-shadow: none;
}

.login-form {
  float: left;
}

/* login styles */
.login-form-container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.login-form {
  width: 350px;
  overflow-x: hidden;
  padding: 15px 0;
}

.search {
  display: flex;
  justify-content: space-between;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
  padding: 20px 0;
}

.result p {
  text-align: center;
}

select {
  background-color: transparent;
  padding: 8px 12px;
  height: 35px;
  width: 300px;
}

.btn {
  color: white;
  background-color: #00334e;
  border: none;
  font-weight: bold;
  cursor: pointer;
  height: 40px;
  padding: 8px 20px;
}

.login-btn {
  width: 350px;
  color: white;
  background-color: #00334e;
  padding: 8px 12px;
  margin-top: 0px;
  margin-bottom: 16px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  height: 40px;
}

table {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
  border: none;
  border-collapse: collapse;
}

thead {
  background-color: #6a6a6a;
  color: white;
  border: none;
}

tbody {
  background-color: white;
}

th,
td {
  padding: 16px 16px;
  text-align: left;
  border: none;
}

.profile {
  color: white;
  display: flex;
  align-items: center;
  gap: 5px;
}

.profile a {
  color: white;
}
