
.user-management-vrd {
  width: 100%;
  height: 83.2rem;
  position: relative;
  overflow: hidden;
  background-color: #f4f4f4;
}
.user-management-vrd .navbar-U7T {
  box-sizing: border-box;
  padding: 0 9.6rem;
  width: 128rem;
  height: 7.5rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  background-color: #00334e;
}
.user-management-vrd .navbar-U7T .menu-oQd {
  margin-right: 45.5rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.user-management-vrd .navbar-U7T .menu-oQd .renu-logo-Zeh {
  margin: 0rem 9.6rem 0rem 0rem;
  width: 5rem;
  height: 4.2683rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.user-management-vrd .navbar-U7T .menu-oQd .menu-items-tgy {
  height: 100%;
  display: flex;
  column-gap: 4.8rem;
  align-items: center;
  flex-shrink: 0;
}
.user-management-vrd .navbar-U7T .menu-oQd .menu-items-tgy .monitor-SyP {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.3625;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-management-vrd .navbar-U7T .menu-oQd .menu-items-tgy .menu-item-CBs {
  width: 19.4rem;
  height: 100%;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.3625;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #074e6f;
  flex-shrink: 0;
}
.user-management-vrd .navbar-U7T .menu-oQd .menu-items-tgy .monitor-K1b {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.3625;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-management-vrd .navbar-U7T .admin-eJm {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.3625;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-management-vrd .user-management-nfs {
  width: 23.9rem;
  height: 3.6rem;
  position: absolute;
  left: 9.6rem;
  top: 11.5rem;
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 1.3625;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.user-management-vrd .frame-1-tiu {
  width: 108.8rem;
  height: 4rem;
  position: absolute;
  left: 9.6rem;
  top: 19rem;
  display: flex;
  align-items: center;
}
.user-management-vrd .frame-1-tiu .frame-5-dAh {
  margin-right: 43.5rem;
  box-sizing: border-box;
  padding: 0.75rem 1.6rem;
  width: 50rem;
  height: 100%;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.3625;
  color: #474747;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #000000;
  flex-shrink: 0;
}
.user-management-vrd .frame-1-tiu .button-7bf {
  width: 15.3rem;
  height: 100%;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.3625;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #074e6f;
  flex-shrink: 0;
}
.user-management-vrd .overlay-EAV {
  box-sizing: border-box;
  padding: 26.75rem 36.6rem;
  width: 128rem;
  height: 83.2rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.user-management-vrd .overlay-EAV .frame-6-mAR {
  box-sizing: border-box;
  padding: 2.4rem;
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.user-management-vrd .overlay-EAV .frame-6-mAR .frame-9-unR {
  margin-bottom: 4.8rem;
  width: 100%;
  row-gap: 2.4rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.user-management-vrd .overlay-EAV .frame-6-mAR .frame-9-unR .add-user-4QR {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.3625;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-management-vrd .overlay-EAV .frame-6-mAR .frame-9-unR .frame-5-bv9 {
  box-sizing: border-box;
  padding: 0.75rem 1.6rem;
  width: 100%;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.3625;
  color: #474747;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #000000;
  flex-shrink: 0;
}
.user-management-vrd .overlay-EAV .frame-6-mAR .frame-9-unR .frame-8-W1X {
  box-sizing: border-box;
  padding: 0.75rem 1.6rem;
  width: 100%;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.3625;
  color: #474747;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #000000;
  flex-shrink: 0;
}
.user-management-vrd .overlay-EAV .frame-6-mAR .frame-7-Pr1 {
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.user-management-vrd .overlay-EAV .frame-6-mAR .frame-7-Pr1 .button-M29 {
  margin-right: 27.9rem;
  width: 12.2rem;
  height: 100%;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.3625;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7f7f7f;
  flex-shrink: 0;
}
.user-management-vrd .overlay-EAV .frame-6-mAR .frame-7-Pr1 .button-rDo {
  width: 9.9rem;
  height: 100%;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.3625;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #074e6f;
  flex-shrink: 0;
}
