{%extends 'base.html'%} {% block title %}Reset Password{% endblock %} 
{%block content%}
<main class="login-form-container">
  <div class="login-form">
		<div class="login-welcome">
		  {% load static %}
		  <a href="{%url 'dashboard' %}" class=""
			><img
			  src="{% static 'renu_logo.png' %}"
			  width="80px"
			  alt="RENU Logo"
		  /></a>
		  <p>Password Reset Confirm</p>
		</div>
  <div class="center">
    <form method="post">
      {% csrf_token %}
      <div class="input-fields">
        <label for="">New Password</label>
        <div>
          <input
          type="password"
          class="form-control"
          placeholder="New Password"
          name="{{ form.new_password1.name }}"
          minlength="8"
          required
          />
        </div>
        </div>

        <div class="input-fields">
          <label for="">Confirm Password</label>
          <div>
            <input
            type="password"
            class="form-control"
            placeholder="Confirm Password"
            name="{{ form.new_password2.name }}"
            minlength="8"
            required
            />
          </div>
          </div>
  

      <input type="submit" value="Change Password" class="login-btn" />
    </form>
  </div>
</main>

{%endblock content%}
