{% extends "base.html" %} {% block title %}Users{% endblock %} {% block content%}
<div id="content">
  <h2>User Management</h2>

  <div class="search">
    <input type="text" placeholder="Search for user" name="" id="" />
    <button class="btn">Add User</button>
  </div>

    <table class="auto-group-p2pf-Vw7">
      <thead class="frame-11-N7j">
        <tr>
          <th class="column-3Um">Name</th>
          <th class="column-2Lh">Access Levels</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr class="td-ASu">
          <td >{{ user.username|capfirst }}</td>
          <td>{% if user.is_superuser %}Admin{% else %}User{% endif %}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

  <a href="{% url 'logout' %}">Logout</a>
</div>
{% endblock %}
