{%extends 'base.html'%} {% block title %}Reset Password{% endblock %} 

{%block content%}
<main class="login-form-container">
	<div class="login-form">
		<div class="login-welcome">
		  {% load static %}
		  <a href="{%url 'dashboard' %}" class=""
			><img
			  src="{% static 'renu_logo.png' %}"
			  width="80px"
			  alt="RENU Logo"
		  /></a>
		  <p>Reset Password</p>
		</div>
	<div class="center">
		<form method="post">
			{% csrf_token %}
				<div class="input-fields">
					<label for="">Email</label>
					<div>
					  <input
						type="email"
						class="form-control"
						placeholder="email"
						name="email"
						required
					  />
					</div>
				  </div>
		<input type="submit" value="Submit" class="login-btn" />
		</form>
		<p>
      <a href="{%url 'login' %}">Remember password? </a>
    </p>
		</div>
</main>
{%endblock content%}
